# Environment & General
.env
node_modules/
bower_components
*.log
logs
**/*.backup.*
**/*.back.*
.DS_*
*.sublime*
psd
thumb
sketch

# Visual Studio & .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs (.NET)
[Bb]in/
[Oo]bj/

# Bỏ qua toàn bộ nội dung trong thư mục uploads (bao gồm audios, images, videos)
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep